<h1>Login</h1>

<%= form_for :user do |t| %>
  <%= t.label :email %>
  <%= t.email_field :email %>
  <br>
  <br>
  <%= t.label :password %>
  <%= t.password_field :password %>
  <br>
  <br>
  <%= t.submit "Login"%>
<% end %>